<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.AllStudentListMapper">
	<!-- 전체 학생정보 출력 -->
	<select id="AllStudentList"
			parameterType="java.util.Map"
			resultType="map">
		SELECT
			 a.member_id memberId
			,b.student_name studentName
			,b.student_gender studentGender
			,b.student_phone studentPhone
			,b.student_address studentAddress
			,b.student_detailaddress studentDetailAddress
			,b.student_email studentEmail
			,b.student_education studentEducation
			,a.member_active memberActive
		FROM member_id a
			INNER JOIN student b ON a.member_id = b.member_id
		<if test='searchStudentName != null and !"".equals( searchStudentName ) '>
			WHERE CONCAT( '%', b.student_name, '%' ) 
			LIKE CONCAT( '%', #{searchStudentName} , '%' )
		</if>
	</select>
	<!-- 전체 학생 수 -->
	<select id="selectTotalCount" 
			resultType="int">
		SELECT COUNT(*)
		FROM student
	</select>
</mapper>