<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.AllStudentListMapper">
<!-- 학생리스트 추가 -->
	<insert id="insertAllStudentList"
			parameterType="kr.co.javajoy.lms.vo.Student">
		INSERT INTO student (
			 member_id memberId
			,student_name studentName
			,student_gender studentGender
			,student_phone studentPhone
			,student_address studentAddress
			,student_detailaddress studentDetailaddress
			,student_email studentEmail
			,student_education studentEducation
			,student_register_date studentRegisterDate
			,update_date updateDate
		) VALUES (
			 #{memberId}
			,#{studentName}
			,#{studentGender}
			,#{studentPhone}
			,#{studentAddress}
			,#{studentDetailaddress}
			,#{studentEmail}
			,#{studentEducation}
			,#{studentRegisterDate}
			,#{updateDate}
		)
	</insert>
	<insert id="insertSubjectStudent"
			parameterType="kr.co.javajoy.lms.vo.SubjectStudent">
		INSERT INTO subject_student (
			 member_id memberId
			,subject_no subjectNo
			,update_date updateDate
		) VALUES (
			 #{memberId}
			,#{subjectNo}
			,#{updateDate}
		)
	</insert>
<!-- 전체 학생리스트 출력 -->
	<select id="AllStudentList"
			parameterType="java.util.Map"
			resultType="map">
			SELECT
				 member_id memberId
				,student_name studentName
				,student_gender studentGender
				,student_phone studentPhone
				,student_address studentAddress
				,student_detailaddress studentDetailaddress
				,student_email studentEmail
				,student_education studentEducation
				,student_register_date studentRegisterDate
				,update_date updateDate
	FROM student
	</select>
<!-- 전체 글 수 -->
<select id="selectTotalCount" 
		resultType="int" >
	SELECT COUNT(*)
	FROM student
</select>
</mapper>