<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.CurriculumMapper">

<select id="getCurriculumList"
		parameterType="java.util.Map"
		resultType="map">
		<!-- 관리자(Admin) 커리큘럼 리스트 -->
	SELECT
	 	a.subject_no subjectNo
		,a.member_id memberId
		,b.language_name languageName
		,a.curriculum_title curriculumTitle
		,a.start_day startDay
		,a.end_day endDay
	FROM curriculum AS a
		INNER JOIN language AS b
		ON a.language_no = b.language_no
	WHERE a.subject_no = #{subject_no}
		LIMIT #{startRow}, #{rowPerPage}
</select>
	<!-- 리스트 전체 카운트 -->
<select id="selectTotalCount" 
		resultType="int" >
	SELECT COUNT(*)
	FROM curriculum
</select>
</mapper>