<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.InquiryMapper">
 <select id="selectInquiryByPage"
 		 parameterType="java.util.Map"
 		 resultType="java.util.Map">
 SELECT 
 	b.board_no boardNo
   ,b.member_id memberId
   ,t.teacher_name teacherName
   ,s.student_name studentName
   ,b.board_title boardTitle
   ,b.private_no privateNo
   ,COUNT(bc.board_comment_content) cnt
   ,b.create_date createDate
   ,b.update_date updateDate
FROM board b
 LEFT JOIN board_comment bc
 		ON bc.board_no = b.board_no
 LEFT JOIN teacher t
	    ON t.member_id = b.member_id
 LEFT JOIN student s
	    ON s.member_id = b.member_id
WHERE board_category = "3"
<if test='searchInquiryTitle != null and !"".equals(searchInquiryTitle) '>
AND CONCAT('%', b.board_title, '%') 
			LIKE CONCAT('%', #{searchInquiryTitle}, '%')
</if>
GROUP BY b.board_no
ORDER BY b.create_date desc
LIMIT #{beginRow} , #{rowPerPage}
 </select>
 <select id="selectInquiryTotalCount"
 		parameterType="String"
 		resultType="int">
 SELECT
 	COUNT(*) cnt
 FROM board
 WHERE board_category = "3"
<if test='searchInquiryTitle != null and !"".equals(searchInquiryTitle) '>
	AND CONCAT('%', board_title, '%') 
	LIKE CONCAT('%', #{searchInquiryTitle}, '%')
</if>
 </select>
 <select id="selectTeacherListBySubject"
	 		 parameterType="String"
	 		 resultType="java.util.Map">
	SELECT
		   c.member_id memberId
		  ,t.teacher_name teacherName
      FROM subject_student ss
INNER JOIN curriculum c
		ON c.subject_no = ss.subject_no
INNER JOIN teacher t
		ON t.member_id =c.member_id
	 WHERE ss.member_id = #{memberId}
 GROUP BY  c.member_id
</select>
<insert id="insertInquiry"
		parameterType="kr.co.javajoy.lms.vo.Board">
	<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
		select last_insert_id()
	</selectKey>
	INSERT INTO board(
			member_id
		   ,board_category
		   ,board_title
		   ,board_content
		   ,private_no
		   ,create_date
		   ,update_date
	) VALUES (
			#{memberId}
		   ,"3"
		   ,#{boardTitle}
		   ,#{boardContent}
		   ,#{privateNo}
		   ,NOW()
		   ,NOW()
		)
</insert>
<insert id="insertReceiver"
		parameterType="kr.co.javajoy.lms.vo.Receiver">
	INSERT INTO receiver (
				board_no
			   ,receiver
			   ,update_date
		) VALUES (
				#{boardNo}
			   ,#{receiver}
			   ,NOW()
		)
</insert>
<select id="selectReceiverListByBoardNo"
		parameterType="int"
		resultType="String">
SELECT
	receiver
FROM receiver
WHERE board_no = #{boardNo}
</select>
<insert id="insertInquiryComment"
		parameterType="kr.co.javajoy.lms.vo.BoardComment">
INSERT INTO board_comment (
			member_id
		   ,board_no
		   ,board_comment_content
		   ,comment_anony
		   ,create_date
		   ,update_date
		) VALUES (
			#{memberId}
		   ,#{boardNo}
		   ,#{boardCommentContent}
		   ,"1"
		   ,NOW()
		   ,NOW()
		)
</insert>
<select id="selectCheckedReceiverTeacherName"
		parameterType="int"
		resultType="kr.co.javajoy.lms.vo.Teacher">
SELECT
		   t.teacher_name teacherName
	  FROM receiver r
INNER JOIN teacher t
		ON t.member_id = r.receiver
	 WHERE r.board_no = #{boardNo}
</select>
<delete id="deleteReceiver"
		parameterType="int">
DELETE 
FROM receiver
WHERE board_no = #{boardNo}
</delete>
<update id="updateInquiryBoard"
		parameterType="kr.co.javajoy.lms.vo.Board">
UPDATE board
   SET board_title = #{boardTitle}
      ,board_content = #{boardContent}
      ,private_no = #{privateNo}
      ,update_date = NOW()
 WHERE board_no = #{boardNo}
</update>
<select id="receiverList"
		resultType="kr.co.javajoy.lms.vo.Receiver">
SELECT
	board_no boardNo
   ,receiver receiver
FROM receiver
</select>
 <select id="selectInquiryByMemberId"
 		 parameterType="java.util.Map"
 		 resultType="java.util.Map">
 SELECT 
 	b.board_no boardNo
   ,b.member_id memberId
   ,t.teacher_name teacherName
   ,s.student_name studentName
   ,b.board_title boardTitle
   ,b.private_no privateNo
   ,COUNT(bc.board_comment_content) cnt
   ,b.create_date createDate
   ,b.update_date updateDate
FROM board b
 LEFT JOIN board_comment bc
 		ON bc.board_no = b.board_no
 LEFT JOIN teacher t
	    ON t.member_id = b.member_id
 LEFT JOIN student s
	    ON s.member_id = b.member_id
WHERE board_category = "3" AND b.member_id = #{memberId}
<if test='searchInquiryTitle != null and !"".equals(searchInquiryTitle) '>
AND CONCAT('%', b.board_title, '%') 
			LIKE CONCAT('%', #{searchInquiryTitle}, '%')
</if>
GROUP BY b.board_no
ORDER BY b.create_date desc
LIMIT #{beginRow} , #{rowPerPage}
 </select>
 <select id="selectInquiryTotalCountByMemberId"
 		parameterType="String"
 		resultType="int">
 SELECT
 	COUNT(*) cnt
 FROM board
 WHERE board_category = "3" AND member_id = #{memberId}
<if test='searchInquiryTitle != null and !"".equals(searchInquiryTitle) '>
	AND CONCAT('%', board_title, '%') 
	LIKE CONCAT('%', #{searchInquiryTitle}, '%')
</if>
 </select>
</mapper>