<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.InquiryMapper">
 <select id="selectInquiryByPage"
 		 parameterType="java.util.Map"
 		 resultType="kr.co.javajoy.lms.vo.Board">
 SELECT 
 	board_no boardNo
   ,member_id memberId
   ,board_title boardTitle
   ,private_no privateNo
   ,create_date createDate
   ,update_date updateDate
FROM board
WHERE board_category = "3"
ORDER BY create_date desc
LIMIT #{beginRow} , #{rowPerPage}
 </select>
 <select id="selectInquiryTotalCount"
 		resultType="int">
 SELECT
 	COUNT(*) cnt
 FROM board
 WHERE board_category = "3"
 </select>
 <select id="selectTeacherListBySubject"
	 		 parameterType="String"
	 		 resultType="java.util.Map">
	SELECT
		   c.member_id memberId
		  ,t.teacher_name teacherName
      FROM subject_student ss
INNER JOIN curriculum c
		ON c.subject_no = ss.subject_no
INNER JOIN teacher t
		ON t.member_id =c.member_id
	 WHERE ss.member_id = #{memberId}
 GROUP BY  c.member_id
</select>
<insert id="insertInquiry"
		parameterType="kr.co.javajoy.lms.vo.Board">
	<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
		select last_insert_id()
	</selectKey>
	INSERT INTO board(
			member_id
		   ,board_category
		   ,board_title
		   ,board_content
		   ,private_no
		   ,create_date
		   ,update_date
	) VALUES (
			#{memberId}
		   ,"3"
		   ,#{boardTitle}
		   ,#{boardContent}
		   ,#{privateNo}
		   ,NOW()
		   ,NOW()
		)
</insert>
<insert id="insertBoardFile"
		parameterType="kr.co.javajoy.lms.vo.Boardfile">
	INSERT INTO board_file(
			    board_no
			   ,board_file_original_name
			   ,board_file_name
			   ,board_file_type
			   ,board_file_size
			   ,create_date
			   ,update_date
		) VALUES (
				#{boardNo}
			   ,#{boardFileOriginalName}
			   ,#{boardFileName}
			   ,#{boardFileType}
			   ,#{boardFileSize}
			   ,NOW()
			   ,NOW()
		)
</insert>
<insert id="insertRecevier"
		parameterType="kr.co.javajoy.lms.vo.Recevier">
	INSERT INTO recevier (
				board_no
			   ,recevier
			   ,update_date
		) VALUES (
				#{boardNo}
			   ,#{recevier}
			   ,NOW()
		)
	
</insert>
</mapper>