<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.LoginMapper">
		<select id="loginMember" 
				parameterType="java.util.Map" 
				resultType="String">
			SELECT member_id memberId
			FROM member_id
			WHERE member_id = #{memberId} 
					AND member_pw = PASSWORD(#{memberPw})
		</select>
		
		<select id="findTeacherId" 
				parameterType="java.util.Map" 
				resultType="String">
			SELECT m.member_id memberId
			FROM member_id m
				INNER JOIN teacher t
					ON m.member_id = t.member_id
				WHERE t.teacher_name = #{memberName}
					AND t.teacher_phone = #{memberPhone}		
		</select>
		
		<select id="findStudentId" 
				parameterType="java.util.Map"
				resultType="String">
			SELECT m.member_id memberId
			FROM member_id m
				INNER JOIN student s
					ON m.member_id = s.member_id
				WHERE s.student_name = #{memberName}
					AND s.student_phone = #{memberPhone}			
		</select>
		
		<select id="findTeacherPw" 
				parameterType="java.util.Map" 
				resultType="int">
			SELECT COUNT(*) cnt
			FROM member_id m
				INNER JOIN teacher t
					ON m.member_id = t.member_id
				WHERE t.teacher_name = #{memberName}
					AND t.teacher_phone = #{memberPhone}
					AND m.member_id = #{memberId}			
		</select>
		
		<select id="findStudentPw" 
				parameterType="java.util.Map" 
				resultType="int">
			SELECT COUNT(*) cnt
			FROM member_id m
				INNER JOIN student s
					ON m.member_id = s.member_id
				WHERE s.student_name = #{memberName}
					AND s.student_phone = #{memberPhone}
					AND m.member_id = #{memberId}			
		</select>
		<update id="updatelastLoginDate"
				parameterType="String">
		UPDATE member_id
			SET last_login_date = NOW()
		WHERE member_id = #{memberId}
		</update>
		<update id="updateDormantMember">
		UPDATE member_id
		   SET member_active = "2"
		WHERE DATEDIFF(NOW(), last_login_date) > 365
		</update>
		<update id="updateFindPwMember"
				parameterType="String">
		UPDATE member_id
		   SET member_pw = PASSWORD('1111')
		      ,member_active = "4"
	     WHERE member_id = #{memberId}
		</update>
</mapper>