<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.MemberMapper">
	<select id="selectMemberPwPeriod"
			parameterType="String"
			resultType="int">
		SELECT
			TIMESTAMPDIFF(MONTH,create_date,NOW()) period
		 FROM password
		WHERE member_id = #{memberId}
	 ORDER BY create_date desc
		LIMIT 0,1;
	</select>
	<select id="selectMemberActive"
			parameterType="String"
			resultType="String">
	 	SELECT
	 	 	member_active active
	 	 FROM member_id
		WHERE member_id = #{memberId}
	</select>
	
	<select id="selectMemberId" 
			resultType="String">
		SELECT
			member_id memberId
	   FROM member_id
	</select>
	<select id="selectMemberPw"
			parameterType="java.util.Map"
			resultType="int">
		SELECT
			COUNT(*) cnt
	   FROM password
	  WHERE member_id = #{memberId}
	  	AND password = PASSWORD(#{memberPw})
	</select>
	<select id="selectResignedMemberId" 
			resultType="String">
		SELECT
			member_id memberId
		FROM member_id
		WHERE member_active = "3"
	</select>
	
	<select id="selectMemberLevel"
			parameterType="String"
			resultType="String">
		SELECT
			level
	   FROM member_id
	   WHERE member_id = #{memberId}
	</select>
	
	<insert id="insertMemberId"
			parameterType="kr.co.javajoy.lms.vo.Member">
		INSERT INTO member_id (
			        member_id
			       ,member_pw
			       ,level
			       ,member_active
			       ,last_login_date
			       ,create_date
			       ,delete_date
		) VALUES (
		          #{memberId}
		         ,PASSWORD(#{memberPw})
		         ,${level}
		         ,${memberActive}
		         ,NOW()
		         ,NOW()
		         ,NOW()
		)
	</insert>
	<insert id="insertAdmin"
	 	    parameterType="kr.co.javajoy.lms.vo.Admin">
	    INSERT INTO admin (
	    		    member_id
	    		   ,admin_pw
	    		   ,admin_name
	    		   ,admin_phone
	    		   ,admin_address
	    		   ,admin_detailaddress
	    		   ,admin_email
	    		   ,update_date
	    ) VALUES (
	              #{memberId}
	             ,#{adminPw}
	             ,#{adminName}
	             ,#{adminPhone}
	             ,#{adminAddress}
	             ,#{adminDetailAddress}
	             ,#{adminEmail}
	             ,NOW()
	    )
	</insert>
	<insert id="insertTeacher"
	        parameterType="kr.co.javajoy.lms.vo.Teacher">
	   INSERT INTO teacher (
	               member_id
	              ,teacher_name
	              ,teacher_phone
	              ,teacher_address
	              ,teacher_gender
	              ,teacher_detailaddress
	              ,teacher_email
	              ,teacher_join
	              ,update_date
	   ) VALUES (
	   			 #{memberId}
	   			,#{teacherName}
	   			,#{teacherPhone}
	   			,#{teacherAddress}
	   			,#{teacherGender}
	   			,#{teacherDetailAddress}
	   			,#{teacherEmail}
	   			,#{teacherJoin}
	   			,NOW()
	   )
	</insert>
	<insert id="insertStudent"
			parameterType="kr.co.javajoy.lms.vo.Student">
		INSERT INTO student (
					member_id
				   ,student_name
				   ,student_gender
				   ,student_phone
				   ,student_address
				   ,student_detailaddress
				   ,student_email
				   ,student_education
				   ,student_register_date
				   ,update_date
		) VALUES (
				   #{memberId}
				  ,#{studentName}
				  ,#{studentGender}
				  ,#{studentPhone}
				  ,#{studentAddress}
				  ,#{studentDetailAddress}
				  ,#{studentEmail}
				  ,#{studentEducation}
				  ,#{studentRegisterDate}
				  ,NOW()
			)	
	</insert>
	<insert id="insertPassword"
	        parameterType="kr.co.javajoy.lms.vo.Password">
		INSERT INTO password(
				    member_id
				   ,password
				   ,create_date
		) VALUES (
				   #{memberId}
				  ,PASSWORD(#{password})
				  ,NOW()
		)
	</insert>
	<update id="updateMemberActive"
			parameterType="String">
		UPDATE member_id 
		SET member_active = "1" 
		WHERE member_id = #{memberId} 
	</update>
	<update id="updateMemberPassword"
			parameterType="kr.co.javajoy.lms.vo.Password">
		UPDATE member_id
		   SET member_pw =PASSWORD(#{password})
		 WHERE member_id = #{memberId}
	</update>
	
	<select id="studentIndex"
			parameterType="String"
			resultType="java.util.Map">
			SELECT 
				s.subject_no subjectNo
				,s.teacher_id teacherId
				,s.subject_name subjectName
				,s.subject_start_date subjectStartDate
				,s.subject_finish_date subjectFinishDate
			FROM subject_student ss
				INNER JOIN subject s
					ON ss.subject_no = s.subject_no
			WHERE member_id = #{memberId}
			ORDER BY s.create_date
	</select>
	
	<select id="teacherIndex"
			parameterType="String"
			resultType="java.util.Map">
			SELECT 	 
					 s.subject_no subjectNo
					,s.subject_name subjectName
					,s.teacher_id teacherId
					,c.curriculum_title curriculumTitle
					,c.member_id memberId
					,c.start_day startDay
					,c.end_day endDay
			FROM subject s 
			INNER JOIN curriculum c
				ON s.subject_no = c.subject_no
			WHERE c.member_id = #{memberId}
			ORDER BY s.create_date
	</select>
	<select id="selectLanguageList"
			resultType="kr.co.javajoy.lms.vo.Language">
			SELECT
				language_no languageNo
			   ,language_name languageName
			   ,create_date	 createDate
			   ,update_date	updateDate
		   FROM language
	</select>
	<select id="selectMemberPhotoCnt"
			parameterType="String"
			resultType="int">
		SELECT 
			COUNT(*) cnt
		FROM member_photo
		WHERE member_id = #{memberId}	
	</select>
	<delete id="deleteMemberPhoto"
			parameterType="String">
		DELETE FROM member_photo
			  WHERE member_id=#{memberId}
	</delete>
	<insert id="insertMemberPhoto"
			parameterType="kr.co.javajoy.lms.vo.MemberPhoto">
		INSERT INTO member_photo (
					member_id
				   ,member_photo_original_name
				   ,member_photo_name
				   ,member_photo_size
				   ,member_photo_type
				   ,update_date
			) VALUES (
					#{memberId}
				   ,#{memberPhotoOriginalName}
				   ,#{memberPhotoName}
				   ,#{memberPhotoSize}
				   ,#{memberPhotoType}
				   ,NOW()
				)
	</insert>
	<select id="selectPhotoNameByMemberId"
			parameterType="String"
			resultType="String"
	>
	SELECT 
		  member_photo_name memberPhotoName
	 FROM member_photo
	WHERE member_id = #{memberId}
	</select>
</mapper>