<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.MemberMapper">
	<select id="selectMemberId" resultType="String">
		SELECT
			member_id memberId
	   FROM member_id
	</select>
	
	<select id="selectMemberLevel" parameterType="String" resultType="String">
		SELECT
			level
	   FROM member_id
	   WHERE member_id = #{memberId}
	</select>
	
	
</mapper>