<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.co.javajoy.lms.mapper.NoticefileMapper">
<!-- 
	<select id="selectNoticefileNameList"
			parameterType="int"
			resultType="String">
		SELECT
			board_file_name boardFileName
			,board_file_type boardFileType
		FROM board_file
		WHERE board_no = #{boardNo}
	</select>
-->
	<select id="selectNoticefileList"
			parameterType="int"
			resultType="kr.co.javajoy.lms.vo.Boardfile">
		SELECT
			board_file_no boardFileNo
			,board_file_original_name boardFileOriginalName
			,board_file_name boardFileName
			,board_file_type boardFileType
			,board_file_size boardFileSize
			,board_no boardNo
		FROM board_file
		WHERE board_no = #{boardNo}	
	</select>
 	<insert id="insertNoticefile"
 			parameterType="kr.co.javajoy.lms.vo.Boardfile">
 		INSERT INTO board_file (
 			board_no
 			,board_file_original_name
 			,board_file_name
 			,board_file_type
 			,board_file_size
 			,create_date
 			,update_date
 		) VALUES (
 			#{boardNo}
 			,#{boardFileOriginalName}
 			,#{boardFileName}
 			,#{boardFileType}
 			,#{boardFileSize}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	<select id="selectNoticefileNameListByBoardfileNo"
 			parameterType="int"
 			resultType="String">
 		SELECT board_file_name
 		FROM board_file
 		WHERE board_file_no = #{boardFileNo}
 	</select>
 	<delete id="deleteNoticefileOne"
 			parameterType="int">
 		DELETE FROM board_file
 		WHERE board_file_no = #{boardFileNo}
 	</delete>
 	<select id="selectNoticefileNameList"
 			parameterType="int"
 			resultType="String">
 		SELECT board_file_name
 		FROM board_file
 		WHERE board_no = #{boardNo}
 	</select>
 	<delete id="deleteNoticefileList"
 			parameterType="int">
 		DELETE FROM board_file
 		WHERE board_No = #{boardNo}
 	</delete>
 	<select id="selectBoardfileCnt"
			parameterType="int"
			resultType="int">
		SELECT count(*)
		FROM board_file
		WHERE board_no = #{boardNo}
	</select>
</mapper>