<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.StudentListMapper">

<!-- 학생리스트 추가 -->

<!-- 학생리스트 수정 -->

<!-- 학생리스트 출력 -->
<select id="getStudentList"
		parameterType="java.util.Map"
		resultType="map">
	SELECT 
		b.subject_no subjectNo
		,a.member_id memberId
		,a.student_name studentName
		,a.student_gender studentGender
		,a.student_phone studentPhone
		,a.student_education studentEducation
		,a.student_register_date studentRegisterDate
	FROM 
		student AS a
		INNER JOIN subject_student AS b
	    ON a.member_id = b.member_id
    WHERE 
		b.subject_no = #{subjectNo}
		ORDER BY subjectNo DESC
		LIMIT #{startRow}, #{rowPerPage}
</select>

<!-- 전체 글 수 -->
<select id="selectTotalCount" 
		resultType="int" >
	SELECT COUNT(*)
	FROM student
</select>
</mapper>
