<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.SubjectMapper">
	<!-- 강좌 입력 -->
	<insert id="insertSubject"
			parameterType="kr.co.javajoy.lms.vo.Subject">
		INSERT INTO subject(
			teacher_id
			,admin_id
			,subject_name
			,subject_student_max
			,subject_info
			,subject_start_date
			,subject_finish_date
			,subject_start_time
			,subject_end_time
			,create_date
			,update_date
		) VALUES (
			#{teacherId}
			,#{adminId}
			,#{subjectName}
			,#{subjectStudentMax}
			,#{subjectInfo}
			,#{subjectStartDate}
			,#{subjectFinishDate}
			,#{subjectStartTime}
			,#{subjectEndTime}
			,NOW()
			,NOW()
		)
	</insert>
	
	<!-- 강좌 리스트(운영자용) -->
	<select id="selectSubjectByPage"
			parameterType="java.util.Map"
			resultType="kr.co.javajoy.lms.vo.Subject">
		SELECT
			s.subject_no subjectNo
			,t.teacher_name teacherName
			,s.admin_id adminId
			,s.subject_name subjectName
			,s.subject_student_max subjectStudentMax
			,s.subject_info subjectInfo
			,s.subject_start_date subjectStartDate
			,s.subject_finish_date subjectFinishDate
			,s.subject_start_time subjectStartTime
			,s.subject_end_time subjectEndTime
			,s.create_date createDate
			,s.update_date updateDate
		FROM subject AS s
		LEFT JOIN teacher AS t ON s.teacher_id = t.member_id
		ORDER BY create_date DESC
		LIMIT #{startRow}, #{rowPerPage}
	</select>	
	
	<!-- 강좌 리스트(운영자용) 전체 글 수 -->
	<select id="selectTotalCount"
			resultType="int">
		SELECT COUNT(*) FROM subject
	</select>		
	
	<!-- 강사 리스트 -->
	<select id="selectTeacherId"
			resultType="String">
		SELECT 
			member_id memberId
		FROM teacher
	</select>
	
	<!-- 강좌 상세 보기 -->		
	<select id="selectSubjectOne"
			parameterType="int"
			resultType="kr.co.javajoy.lms.vo.Subject">
		SELECT
			s.subject_no subjectNo
			,s.teacher_id teacherId
			,t.teacher_name teacherName
			,s.admin_id adminId
			,s.subject_name subjectName
			,s.subject_student_max subjectStudentMax
			,s.subject_info subjectInfo
			,s.subject_start_date subjectStartDate
			,s.subject_finish_date subjectFinishDate
			,s.subject_start_time subjectStartTime
			,s.subject_end_time subjectEndTime
		FROM subject AS s
		LEFT JOIN teacher AS t ON s.teacher_id = t.member_id
		WHERE subject_no = #{subjectNo}
	</select>
	
	<!-- 강좌 수정 -->
	<update id="updateSubject"
			parameterType="kr.co.javajoy.lms.vo.Subject">
		UPDATE subject SET	
			teacher_id = #{teacherId}	
			,admin_id = #{adminId}	
			,subject_name = #{subjectName}	
			,subject_student_max = #{subjectStudentMax}	
			,subject_info = #{subjectInfo}	
			,subject_start_date = #{subjectStartDate}	
			,subject_finish_date = #{subjectFinishDate}	
			,subject_start_time = #{subjectStartTime}	
			,subject_end_time = #{subjectEndTime}	
			,update_date = NOW()
		WHERE subject_no = #{subjectNo}
	</update>
	
	<select id="selectSubjectVideoList"
			parameterType="int"
			resultType="kr.co.javajoy.lms.vo.SubjectVideo" >
		SELECT
			subject_video_no subjectVideoNo
			,subject_no subjectNo
			,subject_video_title subjectVideoTitle
			,subject_video_content subjectVideoContent
			,subject_video_url subjectVideoUrl
			,create_date createDate
			,update_date updateDate
		FROM subject_video
		WHERE subject_no = #{subjectNo}
	</select>
	
	<select id="selectSubjectVideoOne"
			parameterType="int"
			resultType="kr.co.javajoy.lms.vo.SubjectVideo">			
		SELECT 
			subject_video_no subjectVideoNo
			,subject_no subjectNo
			,subject_video_title subjectVideoTitle
			,subject_video_content subjectVideoContent
			,subject_video_url subjectVideoUrl
			,create_date createDate
			,update_date updateDate
		FROM subject_video
		WHERE subject_video_no = #{subjectVideoNo}
	</select>
	
	<insert id="insertSubjectVideo"
			parameterType="kr.co.javajoy.lms.vo.SubjectVideo">
		INSERT INTO subject_video(
			subject_no
			,subject_video_title
			,subject_video_content
			,subject_video_url
			,create_date
			,update_date
			) VALUES(
			#{subjectNo}
			,#{subjectVideoTitle}
			,#{subjectVideoContent}
			,#{subjectVideoUrl}
			,NOW()
			,NOW()
			)
	</insert>
	
	<update id="updateSubjectVideo"
			parameterType="kr.co.javajoy.lms.vo.SubjectVideo">
		UPDATE subject_video
		SET
			subject_video_title = #{subjectVideoTitle}
			,subject_video_content = #{subjectVideoContent}
			,subject_video_url = #{subjectVideoUrl}
			,update_date = NOW()
		WHERE subject_video_no = #{subjectVideoNo}
	</update>
	
	<delete id="deleteSubjectVideoOne"
			parameterType="int">
		DELETE FROM subject_video
		WHERE subject_video_no = #{subjectVideoNo}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>