<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.SubjectDataMapper">

	<select id="selectSubjectDataListByPage"
			parameterType="java.util.Map"
			resultType="java.util.Map">
		SELECT 
			s.subject_data_no subjectDataNo
			,t.teacher_name teacherName
			,s.member_id memberId
			,subject_data_title subjectDataTitle
			,subject_data_content subjectDataContent
			,sb.create_date createDate
		FROM subject_board sb
			INNER JOIN subject_data s
				ON sb.subject_board_no = s.subject_data_no
			INNER JOIN subject sj
				ON sb.subject_no = sj.subject_no
			INNER JOIN teacher t
				ON t.member_id = sj.teacher_id				
		WHERE sb.subject_no = #{subjectNo}
		<if test='searchName != null and !"".equals(searchName) '>
			AND CONCAT('%', s.subject_data_title, '%') 
			LIKE CONCAT('%', #{searchName}, '%')
		</if>
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectTotalCount" 
			parameterType="String"
			resultType="int" >
		SELECT COUNT(*)
		FROM subject_data
		<if test='searchName != null and !"".equals(searchName) '>
			WHERE CONCAT('%', subject_data_title, '%') 
			LIKE CONCAT('%', #{searchName}, '%')
		</if>
	</select>
	
	<insert id="insertSubjectBoard"
			parameterType="kr.co.javajoy.lms.vo.SubjectBoard">
			<selectKey resultType="int" keyProperty="subjectBoardNo" order="AFTER">
				select last_insert_id()
			</selectKey>
			INSERT INTO subject_board (
				subject_no
				,create_date
			) VALUES(
				#{subjectNo}
				,NOW()
		)	
	</insert>
	
	<insert id="insertSubjectData"
			parameterType="kr.co.javajoy.lms.vo.SubjectData">
		INSERT INTO subject_data(
			subject_data_no
			,member_id
			,subject_data_title
			,subject_data_content
			,update_date
		) VALUES(
			#{subjectDataNo}
			,#{memberId}
			,#{subjectDataTitle}
			,#{subjectDataContent}
			,NOW()
		)
	</insert>
	
	<insert id="insertSubjectFile"
			parameterType="kr.co.javajoy.lms.vo.SubjectFile">
		INSERT INTO subject_file(
			subject_file_board_no
			,subject_file_name
			,subject_file_original_name
			,subject_file_type
			,subject_file_size
			,create_date
			,update_date
		) VALUES(
			#{subjectFileBoardNo}
			,#{subjectFileName}
			,#{subjectFileOriginalName}
			,#{subjectFileType}
			,#{subjectFileSize}
			,NOW()
			,NOW()
		)
	</insert>

	<select id="selectSubjectDataOne"
			parameterType="int"
			resultType="java.util.Map">
		SELECT 	s.subject_data_no subjectDataNo
			,t.teacher_name teacherName
			,s.member_id memberId
			,subject_data_title subjectDataTitle
			,subject_data_content subjectDataContent
			,sb.create_date createDate
		FROM subject_board sb
			INNER JOIN subject_data s
				ON sb.subject_board_no = s.subject_data_no
			INNER JOIN subject sj
				ON sb.subject_no = sj.subject_no
			INNER JOIN teacher t
				ON t.member_id = sj.teacher_id
			WHERE s.subject_data_no = #{subjectDataNo}	
	</select>
	
	<select id="selectSubjectDataFile"
			parameterType="int"
			resultType="kr.co.javajoy.lms.vo.SubjectFile">
		SELECT 
			subject_file_no subjectFileNo
			,subject_file_board_no subjectFileBoardNo
			,subject_file_name subjectFileName
			,subject_file_original_name subjectFileOriginalName
			,subject_file_type subjectFileType
			,subject_file_size subjectFileSize
			,create_date createDate
			,update_date updateDate
		FROM subject_file
			WHERE subject_file_board_no = #{subjectDataNo}
	</select>
	
	<select id="selectDataFileCount"
			parameterType="int"
			resultType="int">
	SELECT COUNT(*)
	FROM subject_file
	WHERE subject_file_board_no = #{subjectDataNo}
	</select>
	
	<delete id="deleteSubjectDataFile"
			parameterType="int">
		DELETE FROM subject_file
		WHERE subject_file_board_no = #{subjectDataNo}
	</delete>
	
	<delete id="deleteSubjectDataOne"
			parameterType="int">
		DELETE FROM subject_data
		WHERE subject_data_no = #{subjectDataNo}
	</delete>
	
	<update id="updateSubjectOne"
			parameterType="kr.co.javajoy.lms.vo.SubjectData">
		UPDATE subject_data 
		SET 
			subject_data_title = #{subjectDataTitle}
			,subject_data_content = #{subjectDataContent}
			,update_date = NOW()
		WHERE subject_data_no = #{subjectDataNo}
	</update>
	
	<delete id="deleteSubjectDataFileOne"
			parameterType="kr.co.javajoy.lms.vo.SubjectFile">
		DELETE FROM subject_file
		WHERE subject_file_no = #{subjectFileNo}
	</delete>
	
	
	
</mapper>