<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.SubjectNoticeMapper">

	<!-- 관리자(Admin) 강의공지사항 리스트 -->
	<select id="getSubjectNoticeList"
			parameterType="java.util.Map"
			resultType="java.util.Map">
		SELECT  
			b.subject_no subjectNo
			,b.subject_board_no subjectBoardNo
			,n.subject_notice_no subjectNoticeNo
			,n.member_id memberId
			,n.subject_notice_title subjectNoticeTitle
			,n.subject_notice_content subjectNoticeContent
		    ,n.create_date createDate 
		    ,t.teacher_name teacherName
		FROM subject_notice AS n
			INNER JOIN subject_board AS b ON n.subject_notice_no = b.subject_board_no
	   		INNER JOIN teacher t ON t.member_id = n.member_id
	    WHERE b.subject_no = #{subjectNo}
		ORDER BY n.create_date DESC
		    LIMIT #{startRow}, #{rowPerPage}
	</select>
	<!-- 리스트 전체 카운트 -->
	<select id="selectTotalCount" 
			resultType="int" 
			parameterType="int">
		SELECT
			COUNT(*)
		FROM subject_notice AS n
			INNER JOIN subject_board AS b ON n.subject_notice_no = b.subject_board_no
		WHERE b.subject_no = #{subjectNo}
	</select>		
	<!-- 리스트 추가(subjectNo 입력) -->
	<insert id="insertSubjectNoticeBoardNo"
			parameterType="kr.co.javajoy.lms.vo.SubjectBoard">
		<selectKey resultType="int" keyProperty="subjectBoardNo" order="AFTER">
			select last_insert_id()
		</selectKey>
		INSERT INTO subject_board (
			subject_no
			,create_date
		) VALUE (
			#{subjectNo}
			,NOW()
		)
	</insert>
	<!-- 공지사항 추가 -->
	<insert id="insertSubjectNotice"
			parameterType="kr.co.javajoy.lms.vo.SubjectNotice">
		INSERT INTO subject_notice(
			subject_notice_no
			,member_id
			,subject_notice_title
			,subject_notice_content 
			,create_date
		) VALUES (
			#{subjectNoticeNo}
			,#{memberId}
			,#{subjectNoticeTitle}
			,#{subjectNoticeContent}
			,NOW()
		)
	</insert>
	<!-- 공지사항 파일 추가 -->
	<insert id="insertSubjectNoticeFile"
				parameterType="kr.co.javajoy.lms.vo.SubjectFile">
		INSERT INTO subject_file(
			subject_file_board_no
			,subject_file_name
			,subject_file_original_name
			,subject_file_type
			,subject_file_size
			,create_date
			,update_date
		) VALUES (
			#{subjectFileBoardNo}
			,#{subjectFileName}
			,#{subjectFileOriginalName}
			,#{subjectFileType}
			,#{subjectFileSize}
			,NOW()
			,NOW()
		)
	</insert>
	<!-- 공지사항 상세보기 -->
	<select id="subjectNoticeOne"
				parameterType="int"
				resultType="java.util.Map">
		SELECT 
			b.subject_board_no subjectBoardNo
			,b.subject_no subjectNo
			,n.subject_notice_no subjectNoticeNo
			,n.member_id memberId
			,n.subject_notice_title subjectNoticeTitle
			,n.subject_notice_content subjectNoticeContent
			,n.create_date createDate
			,t.teacher_name teacherName
		FROM
			subject_notice n
			INNER JOIN subject_board b ON n.subject_notice_no = b.subject_board_no
			INNER JOIN teacher t ON t.member_id = n.member_id
		WHERE b.subject_board_no = #{subjectBoardNo}
	</select>
	<!-- 공지사항 파일 상세보기(조회) -->
	<select id="subjectNoticeFileOne"
				parameterType="int"
				resultType="java.util.Map">
		SELECT
			f.subject_file_no subjectFileNo
			,f.subject_file_board_no subjectFileBoardNo
			,f.subject_file_name subjectFileName
			,f.subject_file_original_name subjectFileOriginalName
			,f.subject_file_type subjectFileType
			,f.subject_file_size subjectFileSize
			,b.subject_board_no boardNo
		FROM subject_file f
			INNER JOIN subject_board b ON subject_board_no = subject_file_board_no
		WHERE subject_board_no = #{subjectBoardNo}
	</select>
	<!-- 첨부파일 있을경우 첨부파일 컬럼 추가 -->
	<select id="subjectNoticeFileCount"
				resultType="int">
		SELECT 
			COUNT(*) 
		FROM student_file
	</select>
	<!-- 파일 삭제 전 name조회 -->
	<select id="selectsubjectFileNameByBoardNo"
				parameterType="int"
				resultType="String">
		SELECT f.subject_file_name
		FROM subject_file f
			INNER JOIN subject_board b ON b.subject_board_no = f.subject_file_board_no
		WHERE b.subject_board_no = #{subjectBoardNo}
	</select>
	<!-- 파일삭제 -->
	<delete id="deleteSubjectNoticeFile"
				parameterType="int">
		DELETE FROM subject_file
		WHERE subject_file_board_no = #{subjectBoardNo}
	</delete>
	<!-- 게시글 삭제 -->
	<delete id="deleteSubjectNotice"
				parameterType="int">
		DELETE FROM subject_notice
		WHERE subject_notice_no = #{subjectBoardNo}		
	</delete>
	<!-- subject_board_no 삭제 -->
	<delete id="deleteSubjectNoticeBoard"
				parameterType="int">
		DELETE FROM subject_board
		WHERE subject_board_no = #{subjectBoardNo}
	</delete>
	</mapper>