<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.javajoy.lms.mapper.SurveyMapper">
	<select id="selectSurvey"
			parameterType="int"
			resultType="kr.co.javajoy.lms.vo.Survey">
		SELECT 
			survey_no surveyNo
			,subject_no subjectNo
			,survey_question surveyQuestion
			,create_date createDate
			,update_date updateDate
		FROM survey
		WHERE subject_no = #{subjectNo}	
	</select>
	
	<insert id="insertSurveyResult"
			parameterType="kr.co.javajoy.lms.vo.SurveyResult">
		INSERT INTO survey_result(
			survey_no
			,member_id
			,result
			,create_date
			,update_date
			)
		VALUES( #{surveyNo}
				,#{memberId}
				,#{result}
				,NOW()
				,NOW()
			)
	</insert>
	
	<insert id="insertSurveyQuestion"
			parameterType="kr.co.javajoy.lms.vo.Survey">
		INSERT INTO survey(
			subject_no
			,survey_question
			,create_date
			,update_date)
		VALUES(
			#{subjectNo}
			,#{surveyQuestion}
			,NOW()
			,NOW())
	</insert>
	
	<select id="selectStudentSurveyResult"
			parameterType="string"
			resultType="java.util.Map">
		SELECT s.survey_no surveyNo
			,s.survey_question surveyQuestion
			,sr.result result
		FROM survey s
			INNER JOIN survey_result sr 
				ON s.survey_no = sr.survey_no
			INNER JOIN member_id m
				ON sr.member_id = m.member_id
		WHERE sr.member_id = #{memberId}
	</select>
	
	<select id="checkStudentSurveyList"
			resultType="kr.co.javajoy.lms.vo.Student">
		SELECT member_id memberId
		FROM survey_result
		GROUP BY member_id
	</select>
	
</mapper>